<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://localhost:5000/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Chelsea's Dream Team
        </title>
    </head>

    <body>
        <h1 style="color:white;text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 72px;">
            CHELSEA'S DREAM TEAM
        </h1>
        <div class="flex-container">
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/cech.jpg"; alt="Petr Cech"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img  class="img-gallery"; src="http://localhost:5000/img/cole.jpg"; alt="Ashley Cole"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/Terry.jpg"; alt="John Terry"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/luiz.jpg"; alt="David Luiz"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/azpili.jpg"; alt="Cesar Azpilicueta"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/kante.jpg"; alt="N'golo Kante"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/lampard.jpg"; alt="Frank Lampard"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/fabregas.jpg"; alt="Cess Fabregas"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/hazard.jpg"; alt="Eden Hazard"; onclick="showFullImg(this)"> </img>
            </div class="img-container">
            <div class="img-container">
                <img class="img-gallery"; src="http://localhost:5000/img/Drogba.jpg"; alt="Didier Drogba"; onclick="showFullImg(this)"> </img>
            </div>
            <div class="img-container">  
                <img class="img-gallery"; src="http://localhost:5000/img/zola.jpg"; alt="Gianfranco Zola"; onclick="showFullImg(this)"> </img>  
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
        </div>
    </body>
    <script src="http://localhost:5000/static/scr.js" ></script>
</html>
